body{
  background: #f5f5f5;
  color: #000000;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: left;
}

input{
  background: #e5e5e5;
  color: #000000;
  font-size: 120%;
  border: none;
}

.Message{
  color: #5ac0e2;
}

#Main{
  background: #5ac0e2;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 400%;
  color: 
    #fe17a2;
}